<div id="logo-login" class="container">
    <!-- container for logo -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <img src = "Deutsche_Bank_logo.png" />
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div id = "login" class="container" style="margin-top:5%; display:block;">
    <!-- container to hide after successful login -->
    <div class="row">
        <!-- welcome text row -->
        <div class="col-md-2"></div>
        <div class="col-md-8 center"><p style="text-align:center"> Welcome to Team B1.3's data analysis center! To view statistics and trading data please log in first.</p> </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <!-- usrname & pwd row -->
        <div class="col-md-4"></div>
        <div class="col-md-4 center">
            <form name="login">
                <input type="text" class="form-control" id="userid" placeholder="Username"/> <br>
                <input type="password" class="form-control" id="pswrd" placeholder="Password"/> <br>
            </form>
        </div>
        <div class="col-md-4" ></div>
    </div>

    <div class="row">
        <!-- submit button row -->
        <div class="col-md-5"></div>
        <div class="col-md-2 center">
            <input type="button" class="btn btn-default" value="Login" onclick="clickLogin();" style="width:100%"/>
        </div>
        <div class="col-md-5" ></div>
    </div>

</div>
