#connection {
    display:block;
    text-align: center;
    width: 100%;
    margin-top:30px;
    left: 50%;
}

select.form_control {
    height: auto !important;
    padding: .6rem .8rem calc(.6rem + 1px) .8rem !important;

}

body.mybody{
  background-color: white;
}

div.page-container {
  background-color: #f0f0f0;
  padding:2%;
  border-radius: 7px;
}

.page-container table {
  background-color: white;
}

#logo-login img{
  width:100%;
  padding-left:10%;
  padding-right:10%;
  padding-top:5%;
  padding-bottom: 5%;
}

.invalid {
  border-color: red;
}

i{
    cursor: pointer;
}

th{
    white-space:nowrap;
}

/* {box-sizing:border-box} */

.canvasjs-chart-credit {
    display:none;
    opacity:0;
    color:white;
}

