<!-- container for actual site hidden until successful submit -->

   <nav class="navbar navbar-default">
       <!-- navbar container -->

       <div class="container-fluid">

           <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color:black">
               <span class="icon-bar" style="background-color:black"></span>
               <span class="icon-bar" style="background-color:black"></span>
               <span class="icon-bar" style="background-color:black"></span>
             </button>
             <img src = "Deutsche_Bank_logo_wordmark.png" style="max-width:50px;float:left;" />
               <!-- <p class="navbar-brand">Team B1.3</p> -->
           </div>
           <div class="collapse navbar-collapse" id="myNavbar">
           <ul class="nav navbar-nav sticky-top">
               <!-- navigation headers -->
               <li class="active"><a>Raw data</a></li>
               <li class="unactive"><a onclick="goTOextra();">Extra Analysis</a></li>
               <li class="unactive"><a onclick="goTOcorr();">Correlation</a></li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
               <!-- logout button to hide #actualsite -->
               <!--<li><var id = "username"></var></li>-->
               <li><a href="#"><span id="username" class="glyphicon glyphicon-user"></span></a></li>
               <li><a href="#" onclick="clickLogout();"><span class="glyphicon glyphicon-log-in"></span>  Logout</a></li>
           </ul>
           <!--<ul class="nav navbar-nav navbar-right">-->
               <!--&lt;!&ndash; logout button to hide #actualsite &ndash;&gt;-->
               <!--&lt;!&ndash;<li><var id = "username"></var></li>&ndash;&gt;-->
               <!--<li><span id="username" class="glyphicon glyphicon-user"></span></li>-->
           <!--</ul>-->
         </div>
       </div>
   </nav>


<div class="container page-container">
        <form class="form-inline" action="">
            <label for="keyword">Search for</label>
            <input class="form-control" type="text" id="keyword" placeholder="keyword...">
            <label for="dropdown">in column</label>
            <select class=" form-control show-menu-arrow column_filter " id="col-dropdown">
                <option disabled selected value>-- select a category --</option>
                <option>id</option>
                <option>time</option>
                <option>type</option>
                <option>amount</option>
                <option>quantity</option>
                <option>instrumentName</option>
                <option>counterpartyName</option>
                <option>counterpartyStatus</option>
                <option>counterpartyDateRegistered</option>
            </select>
            &nbsp
            <button class="btn btn-default" onclick="filterForm();return false;">Filter</button>
            <button class="btn btn-default" onclick="clearForm();return false;">Clear</button>
        </form>
        <br>
    <div style="overflow-x:auto;">
    <table class="table table-striped" >
        <thead>
        <tr>
            <th scope="col">Deal ID <i id = "id" class="fas fa-sort" onclick="sortOrderClick('id')"></i></th>
            <th scope="col">Time <i id = "time" class="fas fa-sort" onclick = "sortOrderClick('time')"></i></th>
            <th scope="col">Type <i id = "type" class="fas fa-sort" onclick = "sortOrderClick('type')"></i></th>
            <th scope="col">Amount <i id = "amount" class="fas fa-sort" onclick = "sortOrderClick('amount')"></i></th>
            <th scope="col">Quantity <i id = "quantity" class="fas fa-sort" onclick = "sortOrderClick('quantity')"></i></th>
            <th scope="col">Instrument <i id = "instrumentName" class="fas fa-sort" onclick = "sortOrderClick('instrumentName')"></i></th>
            <th scope="col">Counterparty <i id= "counterpartyName" class="fas fa-sort" onclick = "sortOrderClick('counterpartyName')"></i></th>
            <th scope="col">Counterparty Status <i id= "counterpartyStatus" class="fas fa-sort" onclick = "sortOrderClick('counterpartyStatus')"></i></th>
            <th scope="col">Counterparty Registered Date <i id="counterpartyDateRegistered" class="fas fa-sort" onclick = "sortOrderClick('counterpartyDateRegistered')"></i></th>
        </tr>
        </thead>
        <tbody id = "tableBody">
        </tbody>
    </table>
  </div>
  
    <form  class="form-inline" action="">
        Go to page
        <input class="form-control" type="text" id="page" placeholder="#" style="width:50px">
        of <var id="no-pages"></var> pages
        &nbsp
        <button class="btn btn-default form-control" onclick="pageNumberClick(); return false;">Go!</button>
    </form>
    <br>
    <form class="form-inline" action="">
        Show
        <input class="form-control" type="text" id="entry" placeholder="10" style="width:50px">
        entries per page.
        &nbsp
        <button class="btn btn-default form-control" onclick ="entryNumberClick();return false;">Submit</button>
    </form>
</div>
